/****** General ***********/
* {
  box-sizing: border-box;
  margin: 0;
}

.fas {
  font-weight: 900;
}

body {
  font-family: "Roboto", sans-serif;
}

.content {
  max-width: 1440px;
  margin: auto;
}

header {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 999;
}
header img {
  width: 80%;
  display: block;
  object-fit: contain;
  height: 36px;
  margin-left: auto;
  margin-top: 14px;
  margin-right: auto;
  margin-bottom: 14px;
}

.fa-arrow-left {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.header__arrow {
  position: absolute;
  left: 25px;
  top: 25px;
}

.footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  gap: 16px;
}
.footer__title {
  color: #fff;
  font-family: "Shrikhand", "cursive";
  font-style: italic;
  font-size: 18px;
}

.footer__link {
  align-items: center;
  display: flex;
  color: #fff;
  gap: 8px;
  margin: 0;
}

i {
  margin: 0;
}

h2 {
  margin: 3px;
}

.fa-handshake-angle {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .footer {
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 7px;
  }
  .footer nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
.typography {
  background-color: #f6f6f6;
  padding: 40px 30px 70px;
  text-align: center;
  font-weight: 700;
}
.typography__title {
  margin: 0;
  padding: 20px;
}
.typography__subtitle {
  font-weight: 300;
  margin-bottom: 40px;
}

.button {
  padding: 17px 20px;
  font-weight: 500;
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(#ff79da, #9856dc);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.button:hover {
  background: linear-gradient(#ff93e1, #a56be0);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
}

.location {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  padding: 0;
  z-index: 99;
  position: relative;
}
.location .fa-map-marker-alt {
  width: 12px;
  height: 16px;
  color: #353535;
  margin-top: 15px;
}
.location__text {
  padding: 15px;
  font-weight: 700;
}

.tuto {
  padding: 20px;
}
.tuto__title {
  margin-top: 0;
}
.tuto h2 {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}
.tuto__steps {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
}
.tuto__step__number {
  top: 531.86px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #9856dc;
  border-top: 726px;
  border-radius: 20px;
  color: #f6f6f6;
  margin-left: -12px;
}
.tuto__step {
  padding: 10px 20px 10px 0px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
}
.tuto__icon {
  color: #7e7e7e;
  margin: 16px;
}

@media screen and (min-width: 1024px) {
  .tuto__steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }
  .tuto__step {
    width: 48%;
  }
}
@media screen and (min-width: 1440px) {
  .tuto h2 {
    width: 82%;
    margin: 0 auto;
  }
  .tuto__steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }
  .tuto__step {
    width: 28%;
  }
}
.restaurants {
  background-color: #f6f6f6;
}
.restaurants h2 {
  padding: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px 0 0;
  margin: 0 20px 20px 20px;
}

.card {
  position: relative;
  width: 100%;
  background-color: #fff;
  color: inherit;
  border-radius: 15px;
  display: block;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.card__img {
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.card__badge {
  width: 80px;
  text-align: center;
  background-color: #99e2d0;
  color: #1b6150;
  padding: 8px;
  border-radius: 2px;
  margin-top: 13px;
  position: absolute;
  right: 3%;
  top: 1%;
  font-size: 14px;
  font-weight: 500;
}
.card__footer {
  padding: 16px;
  position: relative;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 20px 40px 20px 15px;
}
.card__title {
  margin: 0;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .cards .card {
    width: 48%;
  }
}
@media screen and (min-width: 1024px) {
  .cards {
    width: 80%;
    margin: 20px auto 0 auto;
    padding-bottom: 20px;
  }
  .restaurants h2 {
    width: 80%;
    margin: 0 auto;
    padding-left: 0;
  }
}
.cardimg {
  width: 100%;
  object-fit: cover;
}

.enter__item {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  animation: slide-to-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  opacity: 0;
}
.enter__item .enter__info {
  display: flex;
  justify-content: space-between;
}
.enter__item__content {
  font-weight: 500;
  font-size: 18px;
}
.enter__item .enter__text {
  width: 80%;
  padding: 15px 0 15px 15px;
  text-overflow: ellipsis;
  word-break: break-word;
  overflow: hidden;
}
.enter__item .enter__text h3,
.enter__item .enter__text p {
  text-overflow: ellipsis;
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
}
.enter__item__detail {
  font-weight: 300;
  font-size: 15.04px;
  font-family: "Roboto", sans-serif;
}
.enter__item .enter__price {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  width: 20%;
  justify-content: flex-end;
  padding-right: 10px;
}

.card__heart {
  width: 22px;
  height: 21px;
  background-color: transparent;
  border: transparent 0px solid;
  font-size: 22px;
  padding: 0;
  position: relative;
}
.card__heart:hover .empty__heart {
  display: none;
}
.card__heart:hover .full__heart {
  transform: scale(1.3);
  opacity: 1;
}

.empty__heart {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.full__heart {
  width: 22px;
  height: 21px;
  color: transparent;
  background-image: linear-gradient(#ff79da, #9856dc);
  background-clip: text;
  transform: scale(1);
  opacity: 0;
  transition: all 600ms ease-in-out;
}

.check {
  width: 0;
  opacity: 0;
  background: #99e2d0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 0 15px 15px 0;
  transition: all 400ms ease-in-out;
}

.enter__info:hover .check {
  opacity: 1;
  width: 30%;
}
.enter__info:hover .enter__text {
  width: 50%;
}

.flat__info:hover .check {
  opacity: 1;
  width: 30%;
}

.desserts__info:hover .check {
  opacity: 1;
  width: 30%;
}

.commander {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.commander__btn {
  padding: 15px 45px;
  font-weight: 500;
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(#ff79da, #9856dc);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.commander__btn:hover {
  background: linear-gradient(#ff93e1, #a56be0);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
}

.menu {
  border-radius: 40px 40px 0px 0px;
  background-color: #f6f6f6;
  margin-top: -40px;
  position: relative;
  padding-bottom: 20px;
}
.menu__header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__title {
  font-family: "Shrikhand", "cursive";
  font-style: italic;
  font-size: 28px;
  font-weight: 400;
  color: #101010;
  padding: 20px;
}
.menu:hover {
  opacity: 1;
}
.menu__btn {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.menu__title__h2 {
  display: flex;
  font-weight: 300;
  flex-direction: column-reverse;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.menu__title__h2::after {
  content: "";
  width: 10%;
  background-color: #99e2d0;
  height: 3px;
  bottom: 0;
  position: absolute;
  margin-bottom: -5px;
}

@media screen and (min-width: 768px) {
  .cardimg {
    width: 100%;
    height: 360px;
    object-fit: cover;
  }
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spin {
  0%, 100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header, main {
  opacity: 0;
  animation: appear 11s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader {
  animation: disappear 11s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.flat__item {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: slide-to-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  animation-delay: 2s;
  opacity: 0;
}
.flat__item .flat__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.flat__item__content {
  font-weight: 500;
  font-size: 18px;
}
.flat__item .flat__text {
  width: 80%;
  padding: 15px 0 15px 15px;
  text-overflow: ellipsis;
  word-break: break-word;
  overflow: hidden;
}
.flat__item .flat__text h3,
.flat__item .flat__text p {
  text-overflow: ellipsis;
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
}
.flat__item__detail {
  font-weight: 300;
  font-size: 15.04px;
  font-family: "Roboto", sans-serif;
}
.flat__item .flat__price {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  width: 20%;
  justify-content: flex-end;
  padding-right: 10px;
}

.desserts__item {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: slide-to-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  animation-delay: 4s;
  opacity: 0;
}
.desserts__item .desserts__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.desserts__item__content {
  font-weight: 500;
  font-size: 18px;
}
.desserts__item .desserts__text {
  width: 80%;
  padding: 15px 0 15px 15px;
  text-overflow: ellipsis;
  word-break: break-word;
  overflow: hidden;
}
.desserts__item .desserts__text h3,
.desserts__item .desserts__text p {
  text-overflow: ellipsis;
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
}
.desserts__item__detail {
  font-weight: 300;
  font-size: 15.04px;
  font-family: "Roboto", sans-serif;
}
.desserts__item .desserts__price {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  width: 20%;
  justify-content: flex-end;
  padding-right: 10px;
}

@-webkit-keyframes slide-to-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-to-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
