.desserts__item {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: slide-to-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
  animation-delay: 4s;
  opacity: 0;

  .desserts__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    font-weight: 500;
    font-size: 18px;
  }

  .desserts__text {
    width: 80%;
    padding: 15px 0 15px 15px;
    text-overflow: ellipsis;
    word-break: break-word;
    overflow: hidden;
    h3,
    p {
      text-overflow: ellipsis;
      word-break: break-word;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__detail {
    font-weight: 300;
    font-size: 15.04px;
    font-family: "Roboto", sans-serif;
  }

  .desserts__price {
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    width: 20%;
    justify-content: flex-end;
    padding-right: 10px;
  }
}
