.menu {
  border-radius: 40px 40px 0px 0px;
  background-color: #f6f6f6;
  margin-top: -40px;
  position: relative;
  padding-bottom: 20px;

  &__header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-family: "Shrikhand", "cursive";
    font-style: italic;
    font-size: 28px;
    font-weight: 400;
    color: #101010;
    padding: 20px;
  }

  &:hover {
    opacity: 1;
  }

  &__btn {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.menu__title__h2 {
  display: flex;
  font-weight: 300;
  flex-direction: column-reverse;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.menu__title__h2::after {
  content: "";
  width: 10%;
  background-color: $tertiaryColor;
  height: 3px;
  bottom: 0;
  position: absolute;
  margin-bottom: -5px;
}

@media screen and (min-width: 768px) {
  .cardimg {
    width: 100%;
    height: 360px;
    object-fit: cover;
  }
            
}







@media screen and (max-width: 1440px) {
  
}