.cardimg {
  width: 100%;
  object-fit: cover;
}



.enter__item {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

.enter__info {
    // padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__content {
      font-weight: 500;
      font-size: 18px;
  }

  .enter__text {
    width: 80%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    padding: 15px 0 15px 15px;
    text-overflow: ellipsis;
    word-break: break-word;
    overflow: hidden;
    h3, p {
      text-overflow: ellipsis;
      word-break: break-word;
      overflow: hidden;
    }
  }

  &__detail {
    font-weight: 300;
    font-size: 15.04px;
    font-family: "Roboto", sans-serif;
  }

  .enter__price {
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    width: 20%;
    justify-content: flex-end;
    padding-right: 10px;
  }
}

.flat__item {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

.flat__info {
    padding: 15px;
    width: 100%;
    display: flex;
  }

  &__content {
      font-weight: 500;
      font-size: 18px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__detail {
    font-weight: 300;
    font-size: 15.04px;
    font-family: "Roboto", sans-serif;
  }

  &__price {
    font-weight: 700;
    display: flex;
  }
}

.desserts__item {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

.desserts__info {
    padding: 15px;
    width: 100%;
    display: flex;
  }

  &__content {
      font-weight: 500;
      font-size: 18px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__detail {
    font-weight: 300;
    font-size: 15.04px;
    font-family: "Roboto", sans-serif;
  }

  &__price {
    font-weight: 700;
    display: flex;
  }
}