.tuto {
  padding: 20px;

  &__title {
    margin-top: 0;
  }
  h2 {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
  }

  &__steps {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__step__number {
    background-color: $mainColor;
  }

  &__step {
    padding: 19px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin: 16 0 16 12;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
  }

  &__icon {
    color: #7e7e7e;
    margin: 16px;
  }
}
